$icon-font-path: '../fonts/';

// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
@import "bower_components/components-font-awesome/scss/font-awesome.scss";
// endbower
@import "colors.scss";
@import "style.scss";
